
<div class="row">
  <div class="col-md-12">
    <h1>My Library</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">

    <h3>All of my bottle shots</h3>

    <ul id="bottleshot-index" data-user-id="<%= @user.id %>"></ul>

    <form method="get" action="<%=new_user_bottleshot_path(@user)%>">
        <button type="submit">Add A New Bottleshot</button>
    </form>
  </div>
  <div class="col-md-4">
    <%= render "layouts/user_control_panel"%>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    var userId = parseInt($("#bottleshot-index").attr("data-user-id"))
  
    fetch("/users/" + userId + "/bottleshots.json")
      .then(parseToJSON)
      .then(appendResponseToDOM)
      .catch(logFailure)

    function parseToJSON(response) {
      return response.json()
    }

    function appendResponseToDOM(json) {
      var element = $("#bottleshot-index")
      for (var i = 0; i < json.length; i++) {
        var bottleshot = new Bottleshot(json[i])
        console.log(bottleshot)
        bottleshot.appendToDOM(element, userId)
      }
    }

    function logFailure(error) {
      console.log("HTTP JSON request error is : ", error)
    } 

  });
</script>