<div class="row">
  <div class="col-md-12">
    <h1>Order a new bottleshot:</h1>
    <%= render 'bottleshots/form' %>
  </div>
  <div class="col-md-12" id="new-bottleshot" data-user-id="<%= @user.id %>">
    <h2>New bottle shot is: </h2>
    <div><h3 class="bottleshot-name"></h3></div>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(function() {
      $("form").on("submit", function(event) {
        event.preventDefault();
        var userId = parseInt($("#new-bottleshot").attr("data-user-id"))
        var values = $(this).serialize()
        var posting = $.post("/users/" + userId + "/bottleshots", values)
        posting.done(function(data) {
          $(".bottleshot-name").text(data["vintage"] + " ")
          $(".bottleshot-name").append(data["varietal"])
        })
      })
    })

  </script>

</div>