<h1>My Current Orders: </h1>
<ul>
  <% @bottleshots.each do |bottleshot| %>
    <li><%= link_to bottleshot.fullname, user_bottleshot_path(@user, bottleshot) %></li>
  <% end %>
</ul>
<form method="get" action="<%=new_user_bottleshot_path(@user)%>">
    <button type="submit">Create a new order</button>
</form>