<h1>Hi <%=current_user.name%>, welcome to your page!</h1>
<br>
<div class="row">
  <div class="col-md-8">
    <div class="user account-overview">
    <h3><str>Account overview:</str></h3> 
        <div>
          <p>All my bottle shapes:</p>
          <ul>
          <% current_user.bottle_shapes_names.each do |shape_name| %>
            <li><%= shape_name %></li>
          <% end %>
          </ul>
        </div>
        
    </div>
  </div>
  <div class="col-md-4">
    <div class="user control-panel">
      <h3>I want to:</h3>
      <ul>
        <li><a href="#">View and manage my new orders</a></li>
        <li><a href="#">Visit my bottle shot library</a></li>
        <li><a href="#">Place a new order</a></li>
        <li><a href="#">Talk to Outshinery</a></li>
      </ul>
    </div>
    <!--<ul>
      <li><a href="#">View my orders</a></li>
      <li><a href="#">View my library</a></li>
      <li><%= link_to "View my profile", user_path(current_user) %></li>
    </ul>-->    
  </div>
</div>







