<div class="row">
  <div class="col-md-12">
    <h1>Hi <%=current_user.name%>, welcome to your page!</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="user account-overview">
    <h3><str>Account overview:</str></h3> 
        <div>
          <p>All my bottle shapes:</p>
          <ul>
          <% current_user.bottle_shapes_names.each do |shape_name| %>
            <li><%= shape_name %></li>
          <% end %>
          </ul>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render "layouts/user_control_panel"%>
  </div>
</div>







