<h1>Hi <%=current_user.name%>, welcome to your page!</h1>
<br>
<ul>
  <li><a href="#">View my orders</a></li>
  <li><a href="#">View my library</a></li>
  <li><a href="#">View my profile</a></li>
</ul>