<h1>Hi [Client Name], welcome to your page!</h1>
<h1>Please <a href="#">Sign In</a> or <a href="#">Sign Up</a> to order your bottleshots!</h1>
<br>
<ul>
  <li><a href="#">View my orders</a></li>
  <li><a href="#">View my library</a></li>
  <li><a href="#">View my profile</a></li>
</ul>

