<div class="container">
  <nav id="secondaryNavigation">   
    <div class="footer-nav col-md-4">
      <a href="http://outshinery.com">
        <span>Outshinery Homepage</span>
      </a>
    </div> 
    <div class="footer-nav col-md-4">
      <a href="mailto:info@outshinery.com">
        <span>Email us!</span>
      </a>
    </div> 
    <div class="footer-nav col-md-4">
      <a href="http://www.lauriemillotte.com/" target="_blank">
        <span>Laurie's design work</span>
      </a>
    </div>   
  </nav>
</div>
<div id="siteInfo"><a href="mailto:info@outshinery.com" class="site-email">info@outshinery.com</a></div>