<header id="header" role="banner">
        <div class="header-inner" id="yui_3_17_2_1_1471966522406_1962">
          <div id="logoWrapper" class="title-logo-wrapper" data-content-field="site-title">
            
              <h1 id="logoImage" class="tmpl-loading logo-image"><a href="/" id="yui_3_17_2_1_1471966522406_1961"><img src="//static1.squarespace.com/static/55e38929e4b06d04a995c0c8/t/56e4ebbc746fb91c91d2f3e1/1471908397144/?format=1500w" alt="Outshinery | Professional and consistent bottle shots before your beverage is bottled" data-pin-nopin="true"></a></h1>
            
          </div><!-- comment the linebreak between these two elements because science
          --><label for="mobileNavToggle" class="mobile-nav-toggle-label show-on-scroll-mobile" style=""><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></label><!-- comment the linebreak between these two elements because science
          --><div id="headerNav" class="tmpl-loading positioned" style="margin-left: 0px; margin-top: 10px; margin-bottom: 0px;"><div id="mainNavWrapper" class="nav-wrapper show-on-scroll">
  
  <%= render 'layouts/main_nav' %> 
</div>
<!-- style below blocks out the mobile nav toggle only when nav is loaded -->
<style>.mobile-nav-toggle-label { display: inline-block; }</style>

</div>
        </div>
      </header>