<nav id="mainNavigation" data-content-field="navigation">

    <div class="index home">
      <a href="/#how-it-works-1-section">
        How it works
      </a>
    </div>

    <div class="index home">
      <a href="/#simplified-process-section">
        Thoughtfully packaged
      </a>
    </div>

    <div class="index home">
      <a href="/#old-way-vs-outshinery-way-section">
        Old way vs Outshinery way
      </a>
    </div>

    <div class="index home">
      <a href="/#cost-structure-section">
        Cost structure
      </a>
    </div>

    <div class="index home">
      <a href="/#outshinery-in-use-section">
        Outshinery in use
      </a>
    </div>

    <div class="index home">
      <a href="/#trusted-by-1-section">
        Trusted By
      </a>
    </div>
 
    <div class="index base active">
      <a href="/">
        Outshinery Homepage
      </a>
    </div>

    <div class="index">
      <a href="/how-it-works/">
        How it works
      </a>
    </div>

    <div class="index">
      <a href="/see-it-yourself/">
        See it for yourself
      </a>
    </div>

    <div class="index">
      <a href="/place-your-order/">
        Place your order
      </a>
    </div>

    <div class="index">
      <a href="/bespoke-service/">
        Custom orders
      </a>
    </div>
    
    <div class="index">
      <a href="/who-are-we/">
        Who are we?
      </a>
    </div>

  <div class="collection">
    <a href="/free-first-bottle-shot/">
      See YOUR test shot for FREE!
    </a>
  </div>
  </nav>